src/__pycache__/__init__.cpython-310.pyc
src.egg-info/dependency_links.txt
src.egg-info/PKG-INFO
src.egg-info/SOURCES.txt
src.egg-info/top_level.txt
data/tops/efp
data/tops/initial
logs/error/*
logs/output/*
logs/*.txt
*environment*
results/*
src/__pycache__

!environment_hexcms.yml
!logs/error/.gitkeep
!logs/output/.gitkeep
!results/.gitkeep